/*
 * Project Radical Quest
 * File: style.css 
 *
 *  
 * -------------------------------------------------------------------------------- */
/* Comments here
 *
 */




.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75; /* khtml, old safari */
    -moz-opacity: 0.75; /* mozilla, netscape */
    opacity: 0.75; /* fx, safari, opera */
}

body {
    background-color: #000000
}

#stats {
    color: #ffffff;
    position: absolute;
    bottom: 5%;
    left: 20%;
    /*float: right;*/
    font-family: verdana;
}

* {cursor: none;}
